<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Tests Suite" parallel="false">

    <test name="Full Suite">
        <classes>
            <class name="com.qafox.tests.RegisterTests"/>
            <class name="com.qafox.tests.ForgotPasswordTests"/>
            <class name="com.qafox.tests.LoginTests"/>
            <class name="com.qafox.tests.HomePageTests"/>
            <class name="com.qafox.tests.ShoppingCartTests"/>
        </classes>
    </test>

</suite>
